* {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 3.5rem;
}

body header nav.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body header nav .header_container {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
}

.menu_text:hover {
  text-decoration: underline;
}

@media screen(min-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }
}

body {
  background: url(./assets/background-home-desktop.jpg);
}

#body_container {
  display: flex;
  flex-direction: row;
}

.menu_text {
  font-family: Barlow Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19, 2px;
  color: #d0d6f9;
  text-transform: uppercase;
  text-decoration: none;
}

.menu_number {
  font-family: Barlow Condensed;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 19, 2px;
  color: white;
}

.text_accent {
  font-family: Barlow Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 33, 6px;
  color: #d0d6f9;
}

.space_text {
  font-family: Bellefair;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  line-height: 171, 9px;
  color: white;
}

.p_text {
  font-family: Barlow;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

.large_button {
  background-color: white;
  width: 274px;
  height: 274px;
  border-radius: 50%;
}
